.font{
    font-family:-apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto,
    "Helvetica Neue",
    Helvetica, 
    "PingFang SC", 
    "Hiragino Sans GB",
    "Microsoft YaHei",
    SimSun,
    sans-serif;
}


/* nav 部分 */

*{
    padding: 0;
    margin: 0;
    color: #424242;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
}

.nav{
    list-style: none;
    margin-top: 10px;
}

.nav .listItem{
    float: left;
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    /* border: 1px solid black; */
}
.nav .listItem a{
    color: #f40;
    height: 30px;
    display: inline-block;
    padding: 0 5px;
    border-radius: 15px;
    /* 设圆 角 */
}

.nav .listItem a:hover{
    background-color: #ff4400;
    color: white;
}

/* 此时功能都写完了，但是产生了浮动流，会影响后面的元素
so，下面是清除浮动流 */

/* 因为是清除整个 div.nav 后面的浮动流，所以 */

.nav{
    content: '';
    display: block;
    clear: both;
}
/* 这是三件套
content空，display块，clear：both */


/* 溢出容器 打点‘。。。’显示 */
.longSen{
    width: 300px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    /* 到这一句以上 是溢出的 */

    /* 下面处理溢出，固定三件套
    1,让溢出部分 不折行
    2，溢出部分隐藏 
    3,'...'显示*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.bgImg{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-image: url(img.jpg );
    background-size: 100px 100px;
    /* 这里图片会重复显示，所以可以no-repeat */
    background-repeat: no-repeat;
    /* 还可以定位 */
    background-position: 0 0;
    /*写坐标 */
    /* background-position: top left; */
    /* 左下角 */
    
    /* background-position: center center;
    居中 */
}

 /* 只有html的时候，没有js 和css（网速慢）
也能让网站工作 */

.without{
    background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
    display: inline-block;
    width: 190px;
    height: 90px;
    background-size: 190px 90px;

    /* 缩进整个容器宽度，文字就出去了（但是会折行） */
    text-indent: 190px;
    /* 三件套其中2个 ，溢出部分不折行*/
    white-space: nowrap;
    overflow: hidden;


    /* 方法二：容器高度设置为0，然后高度用padding来提供
    （因为文字进不了padding，背景图片却可以
     
    background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
     display: inline-block;
     width: 190px;
     height: 0px;
     padding: 90px;
     background-size: 190px 90px;
 
     overflow: hidden;
     
    */
}