/* 
selector

tag selector 
如：
div {}

class selector
.classname{}

id selector
#idname{}

优先级（话语权）
!important > 行间样式 > id > class > tag > 通配符匹配所有的标签（*）
 权重 无限  >  1000   > 100 >  10  >  1  > 0  (256进制）  

div{
    background-color:pink;!improtant;
}
*/


/*
 父子选择器 （派生选择器）
子，包括但不限于 儿子孙子
 */

.mao {
    position: fixed;
    right: 50px;
    top: 100px;
}

.demo {
    width: 50px;
    height: 200px;
    background: orange;
}

.benz {
    width: 100px;
    height: 100px;
}

.demo {
    width: 500px;
}


/* 后面覆盖前面的 */

.oSpan {
    color: royalblue;
}

#oDivOne {
    color: pink;
}