div {
    font-size: 16px;
    font-family: Arial;
    font-weight: lighter;
}


/*
 浏览器 文字默认大小 16px
 
 font-size 是设置高度，宽度是自适应
 
 font-family 字体 
 
 font-weight 默认normal
 还可以 lighter  bold  bolder
 一般情况下 lighter 和bolder 都不用
还可以 写数字 ，如100，200。 manx=900.
bold 效果和 <strong>标签效果一样。

 */

div {
    color: red;
}


/* 
 可以 #三原色的值 （rgb）
 例如 #ff0000 （red）
 00 min  00 01 。。。09 -> 0a。。。。0f -> 10
 ff max
 也可以 color:rgb(r,g,b);
 r,g,b 是0-255的数字
 */

div {
    border: 1px solid #f40;
}


/* 
border:像素 风格 颜色；
风格：solid 实线 最常用的
#ff4400= #f40
 */

div {
    height: 100px;
    text-align: center;
    line-height: 100px;
    text-indent: 10em;
}


/*
 居中水平 
 当行高（line height）= height 文本就垂直居中了
text indent 首行缩进，可以写PX，也可以em ，一个相对单位。
1 em= 1fontsize 的值
例如 font size：10px；
则此时 1em= 10px

 */

div {
    text-decoration: underline;
}


/* 
  text-decoration ,
  underline ，
  line-through 删除线
  overline  上划线 （一般不用）
  
 */

div {
    cursor: pointer;
}


/* cursor
 是 鼠标碰到他时候， 指针样式 */


/* 
块标签 div p  address ul li ol form h1-h6
独占一行
可以通过CSS设置 宽高

行标签 span  a em strong del
根据自身大小决定占的空间
不可以通过。。。如上

行级块标签  img input ß
根据自身大小决定占的空间
可以通过，，，，

display：block inline inline-block；
 */


/* 给img设置宽高时候，最好只设置1个值
 另一个就自适应了。 */


/* 
 div{
     vertical-align: middle;
 } 
 控制右边 {行级（块）标签/文本}  的对齐方式
 
 也可以写像素*/


/* 
div {
    width: 100px;
    height: 100px;
   
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
   
    background-color: orange;
   
    border-left: 5px red solid;
    border-right: 5px red solid;
    border: 1px 2px 3px 4px;
    
    padding: 10px； 一圈10px
    padding：10px 20px； 上下 左右
    padding：10px 20px 30px 40px； 
    上右下左 12点顺时针

    margin 左右会叠加，上下不会，会取最大值
    
    
} 

*/


/*
 margin 塌陷
 <div class="wai">
 
 <div class="nei"> 
 
 </div>
 </div>

 .wai{
     margin-top;100
     margin-left 100
 }

 .nei{
     margin-top > wai 的margin top
     就带着 wai 这个DIV 一起往下动
 }

 解决方法：给.wai 加一个 border-top（但是加了东西了） 
 或者 wai 加上 overflow:hidden 溢出隐藏（也有副作用）
 
 so。 触发bfc  块级格式化上下文 
 还可以 position:absolute； 
 or   float：left；
 or   display：inlin-block；

 ------
 若想让 某个标签居中且有margin，
 且横向拉动浏览器，标签不消失

 可以 设定宽度 如 width 100
 然后 margin-left：auto
           - right:auto
*/


/* 
层模型  2d变3d

position：absolute relative fixed  static；  
          绝对      相对      固定   默认的（标准文档流定位）

         absolute 脱离原来位置向上提一个层，（出屏幕外朝向人）
                  找离他最近的有定位的父级定位，如果没有
                  参照浏览器边框进行定位         
         
                  若2个标签都 absolute了 后 absolute的标签 抽离的层面更高
         控制Z轴坐标
          z-index:1; (给一个大于零的值）
        
        relative:1 保留为止进行定位。
                 2 参照原来位置进行定位
         
          
*/